.countriess{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.country-visited{
    background-color: green;
    color: white;

}

.flags-container img{
    width: 100px;
    margin: 10px;
    height: 70px;
}
.flags-container{
    border: 3px solid gold;
    border-radius: 20px;
}